body {
    background-color: black;
    color: white;
}

button:hover, input:hover, select:hover, option:hover {
    cursor: pointer;
}

.tab-manager {
    margin-bottom: 10px;
    background-color: rgb(167, 167, 167);
    top: 0%;
    height: 40px;
    display: flex;
}

.tab {
    background-color: rgb(29, 29, 29);
    color: white;
    height: 100%;
    width: 150px;
    border: none;
    padding: 0;
    float: left;
    text-align: left;
    padding-left: 20px;
    border-right: 2px solid white;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 16px;
}

.close-tab {
    align-self: center;
    height: 24px;
    padding: 2px;
    border-radius: 100px;
}
.close-tab:hover {
    background-color: rgba(78, 78, 78, 0.452);
}

.close-tab svg {
    margin-left: 1px;
}


.active {
    background-color: rgb(56, 56, 56);
    border: none;
}

.add-tab {
    border: none;
    background-color: transparent;
    color: whitesmoke;
    justify-self: center;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 24px;
    padding: 0;
    margin-left: 5px;
    border-radius: 100px;
}
.add-tab:hover {
    background-color: rgba(78, 78, 78, 0.452);
}

.generate-all {
    background-color: rgb(23, 212, 23);
    border: none;
    position: absolute;
    right: 0;
    align-self: center;
    height: 40px;
    font-weight: bold;
    margin-right: 8px;
}

.tab-body, .instructions {
    display: inline-block;
    vertical-align: middle;
}

.instructions {
    position: fixed;
    right: 5px;
    bottom: 10px;
    transform: scale(1.3);
    border-radius: 100px;
    padding: 0;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.instructions:hover {
    background-color: rgba(78, 78, 78, 0.452); 
    cursor: pointer;
}